# 데이터 로드  
-----  
>game_id : 경기 구분 기호  
winner : player 1의 승리 확률  
time : 경기 시간, 마침표(.)로 분과 초가 구분됩니다. ex) 2.24 = 2분 24초  

>player : 선수  
1) 0: player 0  
2) 1: player 1  

>species : 종족  
1) T: 테란  
2) P: 프로토스  
3) Z: 저그  

>event : 행동 종류  
event_contents : 행동 상세  
1) Ability : 생산, 공격 등 선수의 주요 행동  
2) AddToControlGroup : 부대에 추가  
3) Camera : 시점 선택  
4) ControlGroup : 부대 행동  
5) GetControlGroup : 부대 불러오기  
6) Right Click : 마우스 우클릭  
7) Selection : 객체 선택  
8) SetControlGroup : 부대 지정

In [1]:
pwd

'C:\\Users\\kjh96\\Github\\Project_Starcraft'

In [2]:
ls

 C 드라이브의 볼륨: Windows10
 볼륨 일련 번호: 96C5-6AC9

 C:\Users\kjh96\Github\Project_Starcraft 디렉터리

2020-04-13  오후 05:08    <DIR>          .
2020-04-13  오후 05:08    <DIR>          ..
2020-04-13  오후 05:02    <DIR>          .ipynb_checkpoints
2020-04-13  오후 05:08             8,991 data.ipynb
2020-03-31  오후 03:33       830,026,090 data.zip
2020-03-31  오후 03:57           151,099 sample_submission.csv
2020-03-31  오후 03:57     1,744,583,431 test.csv
2020-03-31  오후 03:58     4,190,426,680 train.csv
               5개 파일       6,765,196,291 바이트
               3개 디렉터리  32,752,267,264 바이트 남음

In [5]:
import zipfile
import os
import pandas as pd
import time
import pyarrow
import pickle

In [10]:
#pip install pyarrow

Collecting pyarrow
  Downloading pyarrow-0.16.0-cp37-cp37m-win_amd64.whl (20.4 MB)
Requirement already satisfied: numpy>=1.14 in c:\anaconda3\lib\site-packages (from pyarrow) (1.18.1)
Requirement already satisfied: six>=1.0.0 in c:\anaconda3\lib\site-packages (from pyarrow) (1.14.0)
Installing collected packages: pyarrow
Successfully installed pyarrow-0.16.0
Note: you may need to restart the kernel to use updated packages.

In [4]:
# my_zip = zipfile.ZipFile('./data.zip')
# my_zip.namelist()

In [5]:
# zipfile.ZipFile('./data.zip').extractall()

In [3]:
%%time
train_data = pd.read_csv('train.csv')
test_data = pd.read_csv('test.csv')

Wall time: 4min 20s

In [4]:
# feather 파일로 저장. 
train_data.to_feather('train.feather')                
test_data.to_feather('test.feather')

In [ ]:
%%time
train_data = pd.read_feather('train.feather')
test_data = pd.read_feather('test.feather')

In [16]:
train_data.head()

,game_id,winner,time,player,species,event,event_contents
0,0,1,0.00,0,T,Camera,"at (145.25, 21.5078125)"
1,0,1,0.00,1,T,Camera,"at (22.75, 147.0078125)"
2,0,1,0.02,0,T,Selection,['OrbitalCommand [3080001]']
3,0,1,0.02,0,T,Ability,(1360) - TrainSCV
4,0,1,0.14,0,T,Camera,"at (142.99609375, 24.50390625)"

In [17]:
test_data.head()

   game_id  time  player species              event             event_contents
0    38872  0.00       0       P             Camera     at (22.25, 81.5078125)
1    38872  0.00       1       P             Camera  at (120.25, 153.83984375)
2    38872  0.01       1       P          Selection        ['Nexus [3100001]']
3    38872  0.01       1       P            Ability        (15E0) - TrainProbe
4    38872  0.01       1       P  AddToControlGroup                        NaN

In [18]:
train_data.dtypes

game_id             int64
winner              int64
time              float64
player              int64
species            object
event              object
event_contents     object
dtype: object

In [22]:
train_data.shape

(67091776, 7)

In [23]:
train_data['game_id'].value_counts()

24042    5164
38766    5153
3094     5112
38166    4954
3474     4951
         ...
30884      48
4812       48
19617      48
14675      48
3580       48
Name: game_id, Length: 38872, dtype: int64

In [24]:
train_data['time'].value_counts()

2.44     151635
3.28     151259
3.36     151224
2.36     150359
3.19     150345
          ...
10.55       959
10.56       673
10.57       538
10.58       396
10.59       143
Name: time, Length: 660, dtype: int64

In [21]:
train_data['player'].value_counts()

0    33594869
1    33496907
Name: player, dtype: int64

In [25]:
train_data['event'].value_counts()

Camera               31629407
Right Click          11565877
GetControlGroup      10051180
Selection             9526159
Ability               3798390
SetControlGroup        340704
AddToControlGroup      149340
ControlGroup            30719
Name: event, dtype: int64

In [27]:
import matplotlib.pyplot as plt
%matplotlib inline

In [8]:
pwd

'C:\\Users\\kjh96\\Github\\Project_Starcraft'

In [11]:
ls

 C 드라이브의 볼륨: Windows10
 볼륨 일련 번호: 96C5-6AC9

 C:\Users\kjh96\Github\Project_Starcraft 디렉터리

2020-04-14  오후 05:34    <DIR>          .
2020-04-14  오후 05:34    <DIR>          ..
2020-04-13  오후 05:56    <DIR>          .ipynb_checkpoints
2020-04-13  오후 11:16            24,804 data memory reduce.ipynb
2020-04-14  오후 05:34            21,089 data.ipynb
2020-04-13  오후 05:59     5,732,812,224 train.feather
               3개 파일       5,732,858,117 바이트
               3개 디렉터리  12,411,432,960 바이트 남음

In [ ]:
train = pd.read_feather("train.feather")