In [216]:
import time
import datetime
import pandas as pd
import random
from selenium import webdriver
from slacker import Slacker
from bs4 import BeautifulSoup
import urllib
import requests
from urllib.parse import quote
from selenium.common.exceptions import NoSuchElementException
from selenium.webdriver.common.keys import Keys
import maya

In [217]:
id = 'duck9667@kakao.com' # 'kjh9667@gmail.com'
password = '비밀번호'

In [218]:
options = webdriver.ChromeOptions()
# options.add_argument('headless')
options.add_argument('window-size=1920x1080')
options.add_argument("disable-gpu")

browser = webdriver.Chrome(r'C:\Users\82109\Desktop\곽종현\03 Github\duck9967\ETC\chromedriver.exe', options=options)
browser.execute_script("Object.defineProperty(navigator, 'plugins', {get: function() {return[1, 2, 3, 4, 5]}})")
browser.execute_script("Object.defineProperty(navigator, 'languages', {get: function() {return ['ko-KR', 'ko']}})")
browser.execute_script(
    "const getParameter = WebGLRenderingContext.getParameter;WebGLRenderingContext.prototype.getParameter = \
    function(parameter) {if (parameter === 37445) {return 'NVIDIA Corporation'} if (parameter === 37446) \
    {return 'NVIDIA GeForce GTX 980 Ti OpenGL Engine';}return getParameter(parameter);};")

browser.get('https://instagram.com/')
time.sleep(2)

login_id = browser.find_element_by_name('username')
login_id.send_keys(id)
time.sleep(2)

login_id = browser.find_element_by_name('password')
login_id.send_keys(password)
login_id.submit()

In [220]:
browser.get('https://www.instagram.com/wmr__official/')
feed = browser.find_elements_by_xpath('//*[@id="react-root"]/section/main/div/div[3]/article/div/div/div/div[1]/a/div[1]/div[2]')
feed[0].click()

In [221]:
i = 0
while True : 
    try :
        add = browser.find_elements_by_xpath('/html/body/div[5]/div[2]/div/article/div[3]/div[1]/ul/li/div/button/span')
        add[0].click()
        i = i+1
        time.sleep(1)
        print(i)
    except IndexError :
        print(i)
        break

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
56

In [222]:
soup = BeautifulSoup(browser.page_source,'html.parser')

In [264]:
ID_list = []
Comment_list = []
Datetime_list = []
for i in range(len(soup.find_all('ul', {"class" : "Mr508"}))) : 
    ID = soup.find_all('ul', {"class" : "Mr508"})[i].find('span').text
    ID_list.append(ID)
    Comment = soup.find_all('ul', {"class" : "Mr508"})[i].find_all('span')[1].text
    Comment_list.append(Comment)
    Datatime = soup.find_all('ul', {"class" : "Mr508"})[i].time['datetime']
    Datetime_list.append(Datatime)

In [ ]:
#12월의 기프트🏷
모델 : DD3035-200 (나이키 x 사카이 베이퍼와플)
사이즈 : 245
모델 : CZ9084-001 (나이키 x 스투시 에어포스1)
사이즈 : 235
모델 : CT7875-994 (나이키 에어포스1)
사이즈 : 250

In [312]:
df = pd.DataFrame({"ID" : ID_list, "Comment" : Comment_list, "Datetime" : Datetime_list})
df.head()

,ID,Comment,Datetime
0,tab.ody,@___aurorax @sheep_go_nan @viva_1104 CZ9084-00...,2020-12-25T13:14:25.000Z
1,dulcinea____,DD3035-200(나이키×사카이 베이퍼와플) 😻😻😻딱 내 사이즈닷! 245‼️‼️...,2020-12-25T12:54:07.000Z
2,v_miso_v,@hayanmojji @garden_s_ @mogggg_0818 @hyeonm499...,2020-12-25T13:50:52.000Z
3,woorigeun,DD3035-200(나이키x사카이 베이퍼 와플) 크리스마스 선물 주세요 ㅜ 다른 사...,2020-12-25T13:52:36.000Z
4,tkdguq_,@kwagseoyoon @s_yeop_02 @wonisgie DD3035-200 (...,2020-12-25T13:14:36.000Z

In [313]:
df["model"] = ''
df['model'][df['Comment'].str.contains('DD3035-200')] = "DD3035"
df['model'][df['Comment'].str.contains('CZ9084-001')] = "CZ9084"
df['model'][df['Comment'].str.contains('CT7875-994')] = "CT7875"

In [314]:
# 총 530개, 모델명 제대로 된것 376개, 그렇지 않은 것 154
print("총 댓글 수 : {}".format(len(df)))
print("응모 건수 : {}".format(len(df["model"][df["model"] != ''])))
print("예외처리 건수 : {}".format(len(df["model"][df["model"] == ''])))
print("사카이 응모 건수 : {}".format(len(df['model'][df['model'] == "DD3035"])))
print("스투시 응모 건수 : {}".format(len(df['model'][df['model'] == "CZ9084"])))
print("에어포스 응모 건수 : {}".format(len(df['model'][df['model'] == "CT7875"])))

총 댓글 수 : 521
응모 건수 : 363
예외처리 건수 : 158
사카이 응모 건수 : 309
스투시 응모 건수 : 35
에어포스 응모 건수 : 19

In [280]:
# 아이디 중복제거

In [315]:
df['ID'].unique

<bound method Series.unique of 0                  tab.ody
1             dulcinea____
2                 v_miso_v
3                woorigeun
4                  tkdguq_
              ...
516             jung_o_son
517               kongjjua
518              _yoongong
519    sujinee_hyeonseong2
520      hyeonseong_sujin2
Name: ID, Length: 521, dtype: object>

In [ ]:
# 시간

In [317]:
df[df['Datetime'].str.contains('2020-12-27T18')]

Empty DataFrame
Columns: [ID, Comment, Datetime, model]
Index: []

In [293]:
# dt = maya.parse(df['Datetime'][0]).datetime()
# print(dt.date())
# print(dt.time())
# print(dt.tzinfo)

2020-12-25
13:14:25
UTC

In [321]:
df.to_excel('df.xlsx')